* {
    margin: 0;
    padding: 0;
}


main {
    height: 100vh;
}

.con1 {
    /* border: 2px solid red; */
    box-sizing: border-box;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: dimgrey;
}

.box {
    /* border: 2px solid green; */
    text-align: center;
    box-sizing: border-box;
    width: 12%;
    height: 50%;
    color: aliceblue;
}

.box1 {
    background-color: tomato;
}

.box1:hover{
    transform: translateX(2em) translateY(2em);
}

.box2 {
    background-color: teal;
}

.box2:hover{
    transform: rotateZ(45deg) translateY(2em);
}

.box3 {
    background-color: steelblue;
}

.box3:hover{
    transform: scaleX(1.5) scaleY(1.5);
}

.box4 {
    background-color: seagreen;
}

.box4:hover{
    transform: skewX(45deg);
}

.box5 {
    background-color: peru;
}

.box5:hover{
    transform-origin: top left ;
    transform: rotateZ(45deg);
}